!!! 5
%html
  %head
    %title microbizworks suite
    %link{:href=>"/css/bbclonemail.css", :rel=>"stylesheet", :type=>"text/css"}
    
    // pre-requisites and libraries
    %script{:id=>"email-preview-template", :type=>"text/x-jquery-tmpl"}
      %header
        %span.from
          ${from}
        %span.subject
          ${subject}
        %span.date
          ${date}

    %script{:id=>"email-view-template", :type=>"text/x-jquery-tmpl"}
      %li
        %header
          %span.from
            ${from}
          %span.subject
            ${subject}
          %span.date
            ${date}
        %article
          .body
            {{if categories}}
            %ul.emailCategories
              {{each categories}}
              %li ${$value}
              {{/each}}
            {{/if}}
            {{each body}}
            %p ${$value}
            {{/each}}

    %script{:id=>"mail-categories-view-template", :type=>"text/x-jquery-tmpl"}
      %p Mail Categories
      %ul
        %li{:"data-category"=>""} 
          %a{:href=>"#inbox", :"data-category"=>""}Inbox
        %li{:"data-category"=>""} 
          %a{:href=>"#inbox/sent", :"data-category"=>"sent"}Sent
        %li{:"data-category"=>""} 
          %a{:href=>"#inbox/trash", :"data-category"=>"trash"}Trash
      %ul.customCategories
        {{each items}}
        %li{:"data-category"=>""}
          %a{:href=>"#inbox/categories/${$value.name}", :"data-category"=>"${$value.name}"}${$value.name}
        {{/each}}

    // pre-requisites and libraries
    %script{:id=>"contact-item-template", :type=>"text/x-jquery-tmpl"}
      %span.name
        ${name}
      %span.email
        ${email}
      %span.phone
        ${phone}

    %script{:id=>"contact-categories-view-template", :type=>"text/x-jquery-tmpl"}
      %p Contact Categories
      %ul
        %li 
          %a{:href=>"#"}Everyone
        %li 
          %a{:href=>"#"}Friends
        %li 
          %a{:href=>"#"}Family
        %li 
          %a{:href=>"#"}Coworkers

    // pre-requisites and libraries
    %script{:id=>"worktask-item-template", :type=>"text/x-jquery-tmpl"}
      %span.name
        ${name}
    
    %script{:id=>"behaviorlog-item-template", :type=>"text/x-jquery-tmpl"}
      %span.name
        Name: ${name}
        , Worktask ID: ${worktask_id}
        , User ID: ${user_id}

    %script{:id=>"worktasks-filters-view-template", :type=>"text/x-jquery-tmpl"}
      %p Worktasks Dashboard Filters
      %ul
        %li
          %a{:href=>"#"}Companies
          %ul.CompanyFilters
            {{each items}}
            %li
              ${$value.name}
            {{/each}}
        %li
          %a{:href=>"#"}Locations
          %ul.locationFilters
            {{each items}}
            %li
              ${$value.name}
            {{/each}}
        %li
          %a{:href=>"#"}Joblists
          %ul.joblistFilters
            {{each items}}
            %li
              ${$value.name}
            {{/each}}
        %li
          %a{:href=>"#"}People
          %ul.peopleFilters
            {{each items}}
            %li
              ${$value.name}
            {{/each}}
        %li
          %a{:href=>"#"}Assets
          %ul.assetsFilters
            {{each items}}
            %li
              ${$value.name}
            {{/each}}
        %li
          %a{:href=>"#"}Time
          %ul.timeFilters
            {{each items}}
            %li
              ${$value.name}
            {{/each}}

    %script{:id=>"worktasks-company-filters-view-template", :type=>"text/x-jquery-tmpl"}
      %li
        %a{:href=>"#"}Companies
        %span.Companies
          {{each items}}
          %input{:type=>"button", :class=>"bluetag", :value=>"${$value.name}"}
          {{/each}}

    %script{:id=>"worktasks-location-filters-view-template", :type=>"text/x-jquery-tmpl"}
      %li
        %a{:href=>"#"}Locations
        %span.Locations
          {{each items}}
          %input{:type=>"button", :class=>"bluetag", :value=>"${$value.name}"}
          {{/each}}
	    
    %script{:id=>"worktasks-joblist-filters-view-template", :type=>"text/x-jquery-tmpl"}
      %li
        %a{:href=>"#"}Joblists
        %span.Joblists
          {{each items}}
          %input{:type=>"button", :class=>"bluetag", :value=>"${$value.name}"}
          {{/each}}

    %script{:id=>"worktasks-user-filters-view-template", :type=>"text/x-jquery-tmpl"}
      %li
        %a{:href=>"#"}Users
        %span.Users
          {{each items}}
          %input{:type=>"button", :class=>"bluetag", :value=>"${$value.name}"}
          {{/each}}

    %script{:id=>"worktasks-asset-filters-view-template", :type=>"text/x-jquery-tmpl"}
      %li
        %a{:href=>"#"}Assets
        %span.Assets
          {{each items}}
          %input{:type=>"button", :class=>"bluetag", :value=>"${$value.name}"}
          {{/each}}

    %script{:id=>"worktasks-time-filters-view-template", :type=>"text/x-jquery-tmpl"}
      %li
        %a{:href=>"#"}Time
        %span.Time
          {{each items}}
          %input{:type=>"button", :class=>"bluetag", :value=>"${$value.name}"}
          {{/each}}

  %body
    %section.header
      .container
        %header
          %h1 microbizworks
          %p.tag-line 
            A 
            %a{:href=> "http://worktasks.com"}microbizworks suite
            Prototype
            
    %section.content
      .container
        %navigation
          %section#app-selector
            %select
              %option{:value=>"worktasks"}WorkTasks
              %option{:value=>"mail"}Mail
              %option{:value=>"contacts"}Contacts
          %section#navigation      
          %section#company-filters
          %section#location-filters
          %section#joblist-filters
          %section#user-filters
          %section#asset-filters
          %section#time-filters

        %article#main
          #loading
            %img{:src=>"/images/ajax-loader.gif"}

    %section.footer
      .container
        %footer

    // pre-requisites and libraries
    %script{:src=>"/javascripts/vendor/json2.js"}
    %script{:src=>"/javascripts/vendor/jquery.js"}
    %script{:src=>"/javascripts/vendor/jquery-tmpl.js"}
    %script{:src=>"/javascripts/vendor/underscore.js"}
    %script{:src=>"/javascripts/vendor/backbone.js"}
    %script{:src=>"/javascripts/vendor/backbone.marionette.js"}

    // general app files
    %script{:src=>"/javascripts/microbiz.js"}
    %script{:src=>"/javascripts/microbiz.views.js"}
    %script{:src=>"/javascripts/microbiz.appselection.js"}

    // routing files
    %script{:src=>"/javascripts/microbiz.routing.js"}
    %script{:src=>"/javascripts/apps/mail/microbiz.routing.mailrouting.js"}
    %script{:src=>"/javascripts/apps/contacts/microbiz.routing.contactsrouting.js"}
    %script{:src=>"/javascripts/apps/worktasks/microbiz.routing.tasksrouting.js"}

    // mail app files
    %script{:src=>"/javascripts/apps/mail/microbiz.mailapp.js"}
    %script{:src=>"/javascripts/apps/mail/microbiz.mailapp.categories.js"}
    %script{:src=>"/javascripts/apps/mail/microbiz.mailapp.mailbox.js"}

    // contacts app files
    %script{:src=>"/javascripts/apps/contacts/microbiz.contactsapp.js"}
    %script{:src=>"/javascripts/apps/contacts/microbiz.contactsapp.categories.js"}
    %script{:src=>"/javascripts/apps/contacts/microbiz.contactsapp.contactlist.js"}

    // worktasks app files
    %script{:src=>"/javascripts/apps/worktasks/microbiz.worktasksapp.js"}
    %script{:src=>"/javascripts/apps/worktasks/microbiz.worktasksapp.worktaskslist.js"}
    %script{:src=>"/javascripts/apps/worktasks/microbiz.worktasksapp.filters.js"}
    %script{:src=>"/javascripts/apps/worktasks/microbiz.worktasksapp.behaviorloglist.js"}

    :javascript
      $(function(){
        var body = [
          "Voluptate quinoa wayfarers, american apparel consectetur mlkshk dolor DIY. Portland pitchfork terry richardson jean shorts locavore placeat.  Qui retro stumptown, art party aute delectus reprehenderit wolf quinoa craft beer nesciunt minim master cleanse. Irony cliche dreamcatcher, PBR skateboard laborum ex synth trust fund wayfarers tumblr. Gluten-free nostrud williamsburg, sustainable freegan delectus yr laborum wes anderson incididunt vice elit artisan shoreditch. Cred accusamus jean shorts aliquip, 3 wolf moon occaecat farm-to-table VHS stumptown beard in cupidatat ethical sartorial high life. Before they sold out four loko do, chambray wolf eu pariatur in irony.",
          "Whatever keytar odio mollit, portland enim consequat ethical minim quis mixtape VHS master cleanse culpa deserunt. Do mcsweeney's butcher sustainable , cosby sweater cupidatat ex veniam mollit cardigan. Exercitation wayfarers tofu sint fixie irure, vinyl raw denim officia cupidatat. Sed velit enim, sapiente keytar salvia aute non craft beer. Fixie deserunt non banh mi seitan. Salvia cardigan aute duis. Velit pariatur in commodo, wayfarers enim cardigan freegan yr nesciunt helvetica gluten-free culpa minim scenester.",
          "Cred fap cliche hoodie stumptown. Duis cillum wolf quinoa vinyl anim, iphone odio lomo Austin. Freegan carles food truck, 8-bit retro brooklyn Austin tempor nihil voluptate cosby sweater. Squid letterpress craft beer , tumblr portland gentrify vice keytar echo park twee master cleanse. Laboris ad sint vero consectetur cupidatat. Exercitation 3 wolf moon american apparel , labore do iphone +1 gluten-free. Incididunt fixie gluten-free williamsburg , hoodie yr aliqua mcsweeney's. "
        ];

        var options = {};

        options.categories = ["Work Related", "Personal", "Important", "Read Later"]

        options.email = [
          {
            id: "sdf908f67hjf9sf",
            from: "Joe Johnson",
            subject: "Some email about that subject which was sent to you",
            date: "1/1/2001",
            body: body,
            categories: ["Work Related"]
          },
          {
            id: "365hljk85436lkh",
            from: "Jim Jimson",
            subject: "Did you get that thing I sent you?",
            date: "1/1/2001",
            body: body,
            categories: ["Work Related", "Read Later"]
          },
          {
            id: "a89ghjkl12389sg",
            from: "Ben Benson",
            subject: "Nigerian King needs YOU to send HIM money!",
            date: "1/1/2001",
            body: body,
            categories: ["Personal", "Important"]
          },
          {
            id: "764089gfdljk563",
            from: "Bob Robertson",
            subject: "Yo dawg, I hear you like Backbone...",
            date: "1/1/2001",
            body: body,
            categories: ["Read Later", "Important"]
          },
        ];

        options.contacts = [
          {
            id: "09vsjk3209svdjh",
            name: "Joe Johnson",
            email: "joe.johnson@example.com",
            phone: "555-555-5555"
          },
          {
            id: "45890bdhj4590gf",
            name: "Jim Jimson",
            email: "jim.jimson@example.com",
            phone: "555-555-5556"
          },
          {
            id: "120985h4509vfh4",
            name: "Ben Benson",
            email: "ben.benson@example.com",
            phone: "555-555-5557"
          },
          {
            id: "9sd9123njkdas90",
            name: "Bob Robertson",
            email: "robert.robertson@example.com",
            phone: "555-555-5558"
          },
          {
            id: "lj32kjsd09xzcv3",
            name: "Amy Amerson",
            email: "amy.amerson@example.com",
            phone: "555-555-5559"
          },
          {
            id: "aa23j45hn45n536",
            name: "Julie Julerson",
            email: "julie.julerson@example.com",
            phone: "555-555-5560"
          }
        ];

        options.worktasks = [
          {
            id: "09vsjk3209svdjh",
            name: "task 1"
          },
          {
            id: "45890bdhj4590gf",
            name: "task 2"
          },
          {
            id: "120985h4509vfh4",
            name: "task 3"
          }
        ];

        options.behaviorlogs = [
          {
            id: "1",
            name: "task 1",
            worktask_id: "1",
            user_id: "7",
            created_at: "2011-11-22 23:30:12 UTC",
            completed: "true",
            completion_duration: "10"
          },
          {
            id: "2",
            name: "task 2",
            worktask_id: "2",
            user_id: "7",
            created_at: "2011-11-22 23:30:12 UTC",
            completed: "true",
            completion_duration: "5"
          },
          {
            id: "3",
            name: "task 3",
            worktask_id: "3",
            user_id: "7",
            created_at: "2011-11-22 23:30:12 UTC",
            completed: "true",
            completion_duration: "4"
          }
        ];

        options.locations = [
          {
            id: "1",
            name: "Boerne"
          },
          {
            id: "2",
            name: "Kerrville"
          },
          {
            id: "3",
            name: "Fredericksburg"
          }
        ];

        options.filters = [
          {
            id: "1",
            name: "Filter1"
          },
          {
            id: "2",
            name: "Filter2"
          },
          {
            id: "3",
            name: "Filter3"
          }
        ];

        options.companies = [
          {
            id: "1",
            name: "Kuhl Yougurt",
            locations: [{
              name: "Boerne", 
              desc:"desc.....",
              logoURL:"http://google.com"
            },
            {
              name: "Kerrville", 
              desc:"desc....", 
              logoURL:"http://google.com"
            },
            {
              name: "Fredericksburg", 
              desc:"", 
              logoURL:"http://google.com"
            }],
            joblists: [{
              name: "Opening Cashier", 
              desc:"desc....."
            },
            {
              name: "Opening Kitchen", 
              desc:"desc...."
            }],
            users: [{
              name: "John Smith", 
              desc:"desc....."
            },
            {
              name: "Katy Smith", 
              desc:"desc...."
            }],
            assets: [{
              name: "Pictures", 
              desc:"desc....."
            },
            {
              name: "Feedback", 
              desc:"desc...."
            }],
            time: [{
              start: "2011-11-22 23:30:12 UTC", 
              end:"2011-11-22 23:30:12 UTC"
            },
            {
              start: "2011-11-22 23:30:12 UTC", 
              end:"2011-11-22 23:30:12 UTC"
            }]
          },
          {
            id: "2",
            name: "Maids Service",
            locations: [{
              name: "San Antonio", 
              desc:"desc.....",
              logoURL:"http://google.com"
            },
            {
              name: "Austin", 
              desc:"desc....", 
              logoURL:"http://google.com"
            }],
            joblists: [{
              name: "408 South Plant", 
              desc:"desc....."
            },
            {
              name: "102 Brookside Lane", 
              desc:"desc...."
            }],
            users: [{
              name: "Susan Rios", 
              desc:"desc....."
            },
            {
              name: "Amanda Taylor", 
              desc:"desc...."
            }],
            assets: [{
              name: "Pictures", 
              desc:"desc....."
            },
            {
              name: "Feedback", 
              desc:"desc...."
            }],
            time: [{
              start: "2011-11-22 23:30:12 UTC", 
              end:"2011-11-22 23:30:12 UTC"
            },
            {
              start: "2011-11-22 23:30:12 UTC", 
              end:"2011-11-22 23:30:12 UTC"
            }]
          }
        ];

        MicroBiz.start(options);
      });